DEBUG=True

# meet database (pg)
DB_NAME=meet_db
DB_USER=meet_user
DB_HOST=db
DB_PORT=5432
DB_PASS=123

# django proj
SECRET_KEY='@@==7+av(=l$qbv7d!)^6o&l!x*3m^=c^zu*p51rhtgh2$7%bh'

SERVER_HOST='https://178.124.222.234'

EMAIL_HOST='smtp.gmail.com'
EMAIL_HOST_USER='meetme@gmail.com'
EMAIL_HOST_PASSWORD='meet_email_pwd'

SUPERUSER=meet
SUPERUSERPASS=meet
