[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
envparse = "*"
djangorestframework = "==3.10.3"
pillow = "==6.1.0"
django-rest-swagger = "==2.2.0"
social-auth-app-django = "*"
django-cors-headers = "*"
django = "==2.2.18"
psycopg2-binary = "==2.8.3"
gunicorn = "*"

[requires]
python_version = "3.7"
